# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual env
.venv/
venv/
env/

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Docker
*.pid